.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: [navbar-top] 15% [navbar-bottom header-top] 15% [header-bottom body-top] 60% [body-bottom footer-top] 10% [footer-bottom];
	grid-template-areas:
		"navbar navbar navbar navbar"
		"header header header header"
		"content content content content"
		"footer footer footer footer";
}

img {
	max-width: 75%;
	height: 75%;
	object-fit: cover;
	float: left;
}

h1 {
	float: center;
}

.navbar {
	grid-area: navbar;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 100%;
	grid-template-areas: "navleft navleft navright navright";
}

.navleft {
	grid-area: navleft;
	display: flex;
}

.navright {
	grid-area: navright;
	display: flex;
}

.header {
	grid-area: header;
	display: flex;
	align-items: center;
	justify-content: left;
}

.content {
	grid-area: content;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 25% 15% 60%;
	grid-template-areas:
	"search search search search"
	"sort sort sort sort"
	"posts posts posts posts"
}

.search {
	grid-area: search;
}

.sort {
	grid-area: sort;
	display: flex;
	justify-content: end;
}

.posts {
	grid-area: posts;
}

.footer {
	grid-area: footer;
}

.article {
	float: right;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #F3E0B0;
	width: 100%;
	object-fit: cover;
}

.item-left {
	float: left;
	border-right: 1px solid #FFF9FB;
}

.item-right {
	float: right;
	border-left: 1px solid #FFF9FB;
}

li {
	object-fit: cover;
}

a {
	color: #6B3E26;
}

a:hover {
	color: #F6B3DC;
}

li a {
	display: block;
	color: #A57E56;
	text-align: center;
	padding: 14px 12px;
	text-decoration: none;
}

li a:hover {
	background-color: #FFFDD0;
	color: #A57E56;
}

.active {
	background-color: #FFFDD0;
}

body {
	background-color: #FFF9FB;
	color: #A57E56;
}