ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #F3E0B0;
	position: fixed;
	top: 0;
	width: 100%;
}

li {
	float: left;
	border-right: 1px solid ##FFF9FB;
}

li a {
	display: block;
	color: #A57E56;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #FFFDD0;
	color: #A57E56;
}

.active {
	background-color: #FFFDD0;
}

body {
	background-color: #FFF9FB;
	color: #A57E56;
}